<VirtualHost *:80>
	# Where the source code is
	DocumentRoot /var/www/html

	# Needed if you want to search for tags with slashes in them.
	# This can't be enabled in the .htaccess :(
	AllowEncodedSlashes NoDecode
</VirtualHost>
